# Configuration EmailJS
# Copiez ce fichier vers .env.local et remplissez vos vraies valeurs

# Service ID EmailJS
NEXT_PUBLIC_EMAILJS_SERVICE_ID=service_MON_ENTREPRISE

# Template IDs
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=template_reservation
NEXT_PUBLIC_EMAILJS_ACKNOWLEDGMENT_TEMPLATE_ID=template_acknowledgment

# Clé publique EmailJS
NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=uxdrtgjhDTR

# Email de destination
NEXT_PUBLIC_DESTINATION_EMAIL=exemple@gmail.com

# Configuration Tawk.to Chat
NEXT_PUBLIC_TAWK_PROPERTY_ID=your_tawk_property_id_here
NEXT_PUBLIC_TAWK_WIDGET_ID=default